

{% load static %}


<!DOCTYPE html>

<html>
	<head>
		<title>Django Online Quiz</title>
		<link rel= "stylesheet"href= "{% static 'css/quiz.css' %}" type= "text/css">
	</head>
	<body>
		<div id="container">
            <h1>Django Online Exam </h1>
   			<br/>
  			<div id="quiz"></div>
    		<div class="button" id="next"><a href="#">Next</a></div>
    		<div class="button" id="prev"><a href="#">Prev</a></div> 
    	</div>
		<script src="https://code.jquery.com/jquery-3.4.0.min.js"></script>
        <script src = "{% static 'js/quiz.js' %}"></script>
	</body>
</html>
